*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.header{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
}